<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>Seat</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>
        
        <!-- 메인 -->
        <div class="main-container">
            <seat-select></seat-select>

          <foot></foot>
        </div>
    </div>

    <!-- ========================================== 템플릿 ================================================ -->
<template id="seat-select-temp">
    <div class="main-container">
	    <div class="sub-container">
	        <h1>좌석 선택</h1><hr>
	        <div>
	            남은 좌석 : {{remain_seat}} / {{seat_list1.length + seat_list2.length}}<br>
	            선택 가능한 좌석은 초록색으로 표시됩니다 
	        </div>
	        <div style="display:flex;justify-content: center;">
	            <div style="border-style: groove; width: 85%; height: 90%; margin-top: 2%;">
	                <div style="padding: 1%; display:flex; width: 100%;">
	                    <div v-for="(seat, index) in seat_list1" style="padding: 1%;">
	                        <button v-if="seat.seatIdx == selected_now" class="square" style="background-color: rgb(93, 182, 224); cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="seat.seatIdx == using" class="square" style="background-color: rgb(224, 216, 93); cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="seat.isUsed == 1" class="square" style="background-color: brown; cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="(using != '') && (change_mode == false)" class="square" style="cursor: not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
	                    </div>
	                </div>
	                <div style="padding: 1%; display:flex; width: 100%;">
	                    <div v-for="(seat, index) in seat_list2" style="padding: 1%;">
	                        <button v-if="seat.seatIdx == selected_now" class="square" style="background-color: rgb(93, 182, 224); cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="seat.seatIdx == using" class="square" style="background-color: rgb(224, 216, 93); cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="seat.isUsed == 1" class="square" style="background-color: brown; cursor:not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else-if="(using != '') && (change_mode == false)" class="square" style="cursor: not-allowed;">{{seat.seatIdx}}</button>
	                        <button v-else @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
	                    </div>
	                </div>
	            </div>
            </div>
            <button v-show="!change_mode" @click="changeSeat" style="margin-top: 2%; width: 10%;">좌석 변경하기</button>
            <button v-show="change_mode" @click="changeSeat" style="margin-top: 2%; width: 10%; background-color: rgb(93, 165, 224);">변경 완료</button>
            <button v-show="change_mode" @click="cancel" style="margin-top: 2%; width: 10%; background-color: rgb(224, 93, 93);">취소</button>
        </div>
    </div>
</template>


<!-- ==============================================스크립트 ================================== -->

<script>
    Vue.component('seat-select', {
        template: "#seat-select-temp",
        data: function() {
            return{
                seat_list1: [],
                seat_list2: [],
                remain_seat: 0,
                using: "",
                selected_now: "",
                change_mode: false
            }
        },
        created: function() {
            const get_token = sessionStorage.getItem("token");
            // ======================= 1.좌석정보 불러오기 =====================
            axios({
                method: "get",
                url: "seat", 
                headers: {authorization : `bearer ${get_token}`}
            }).then(resData => {  
                this.seat_list1 = resData.data.slice(undefined, 10);
                this.seat_list2 = resData.data.slice(10, 20);
                // ====================== 2. 잔여 좌석 불러오기 =================
                axios({
                method: "get",
                url: "seat/remain", 
                headers: {authorization : `bearer ${get_token}`}
                }).then(resData => {  
                    this.remain_seat = resData.data;
                    // =============== 3. 회원정보 불러오기 - 선택한 좌석 체크 ===========
                    axios({
                        method: "get",
                        url: "user/" + sessionStorage.getItem("userIdx"), 
                        headers: {authorization : `bearer ${get_token}`}
                    }).then(resData => {  
                        if(resData.data.seat != null) {
                            this.using = resData.data.seat.seatIdx;
                        }
                    }).catch(errorData => {
                    alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요 - error 01");
                    location.href="http://localhost";
                    });

                }).catch(errorData => {
                    alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요 - error 02");
                    location.href="http://localhost";
                });

            }).catch(errorData => {
                alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요 - error 03");
                location.href="http://localhost";
            });
        },
        methods: {
            selectSeat: function(i) {
                if(!this.change_mode && this.using == "") {
                    axios({
                        method: "get",
                        url: "ticket/" + sessionStorage.getItem("userIdx"),
                        headers: {authorization: `bearer ${sessionStorage.getItem("token")}`}
                    }).then(resData => {
                        if(resData.data == null || resData.data == "") {
                            alert("이용권을 먼저 구매해주세요");
                            location.href="02_ticket.html";
                        }
                        else {
                            const result = confirm(i + "번 좌석을 선택하시겠습니까?");
                            if(result) {
                                this.selectSeatFinal(i);
                            }
                        }
                    }).catch(errorData => {
                        alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요 - error 04");
                        window.location.reload();
                    });
                }
                else if(this.change_mode) {
                    this.selected_now = i;
                }
            },
            changeSeat: function() {
                if(this.using == "") {
                    alert("좌석을 선택해주세요");
                }
                else if(this.selected_now == "") {
                    this.change_mode = !this.change_mode;
                }
                else {
                    this.checkout();
                    this.selectSeatFinal(this.selected_now);
                    this.change_mode = !this.change_mode;
                }
            },
            selectSeatFinal: function(i) {
                axios({
                    method: "post",
                    url: "seat",
                    data: {seatIdx: i},
                    headers: {authorization: `bearer ${sessionStorage.getItem("token")}`}
                }).then(resData => {
                    if(resData.data) {
                        if(this.using == "") {
                            alert(i + "번 좌석 선택완료");  
                        }
                        else {
                            alert(i + "번 좌석으로 변경완료");  
                        }
                        this.using = i;
                    }
                    else {
                        alert("좌석선택 실패. 잠시 후에 다시 시도해주세요 - error4");
                        window.location.reload();
                    }
                }).catch(errorData => {
                    alert("좌석선택 실패. 잠시 후에 다시 시도해주세요 - error4");
                    window.location.reload();
                });
            },
            checkout: function() {
                axios({
                    method: "post",
                    url: "seat/checkout",
                    headers: {authorization: `bearer ${sessionStorage.getItem("token")}`}
                }).then(resData => {
                    if(!resData.data) {
                        alert("좌석선택 실패. 잠시 후에 다시 시도해주세요 - error5");
                    }
                    window.location.reload();
                }).catch(errorData => {
                    alert("좌석선택 실패. 잠시 후에 다시 시도해주세요 - error6");
                    window.location.reload();
                });
            },
            cancel: function() {
                this.selected_now = "";
                this.change_mode = !this.change_mode;
            }
        }
    })

//                  ======================공통 스크립트====================
    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                const result = confirm("로그아웃 하시겠습니까?");
                if(result) {
                    sessionStorage.clear();
                    this.login = false;
                    this.logout = true;
                    location.href="http://localhost";
                }
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })
    new Vue({
        el: "#body-div",
    });
</script>
</body>
</html>