<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>Seat</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>
        
        <!-- 메인 -->
        <div class="main-container">
            <seat-select></seat-select>


            <foot></foot>
        </div>
    </div>


    <!-- ========================================== 템플릿 ================================================ -->
<template id="seatSelect">
    <div class="sub-container">
        <h1>좌석 선택</h1><hr>
        <div>
            남은 좌석 : {{remain_seat}} / {{seat_list1.length + seat_list2.length}}<br>
            선택 가능한 좌석은 초록색으로 표시됩니다<br>
        </div>
        <div style="border-style: groove; width: 85%; height: 90%; margin-top: 2%;">
            <div style="padding: 1%; display:flex; width: 100%;">
                <div v-for="(seat, index) in seat_list1" style="padding: 1%;">
                    <button v-if="seat.isUsed=1" @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
                    <button v-else @click="selectSeat(seat.seatIdx)" class="square" style="background-color: brown;">{{seat.seatIdx}}</button>
                </div>
            </div>
            <div style="padding: 1%; display:flex; width: 100%;">
                <div v-for="(seat, index) in seat_list2" style="padding: 1%;">
                    <button v-if="seat.isUsed=1" @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
                    <button v-else @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
                </div>
            </div>
        </div>
</template>

<div id="select" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content" style="padding: 32px; text-align: center;">
		<div class="w3-container" >
			<i onclick="document.getElementById('select').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
			<h2 id="s" ></h2>
			<button style="width: 100px;" onclick="yes()">네</button> 
			<button style="width: 100px;" onclick="document.getElementById('select').style.display='none'">아니오</button>
		</div>
	</div>
</div>

<!-- ==============================================스크립트 ================================== -->

<script>
    Vue.component('seat-select', {
        template: "#seatSelect",
        data: function(){
            return{
                seat : "",
                using : false,
                seat_list1: [],
                seat_list2: [],
                remain_seat: ""
            }
        },
        created: function() {
            axios({
                method: "get",
                url: "seat", 
                headers: {authorization : `bearer ${sessionStorage.getItem("token")}`}
            }).then(resData => {  
                this.seat_list1 = resData.data.slice(undefined, 10);
                this.seat_list2 = resData.data.slice(10, 20);

                axios({
                method: "get",
                url: "seat/remain", 
                headers: {authorization : `bearer ${sessionStorage.getItem("token")}`}
                }).then(resData => {  
                    this.remain_seat = resData.data;
                }).catch(errorData => {
                    alert("시트정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요");
                    location.href="00_index.html";
                });

            }).catch(errorData => {
                alert("시트정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요");
                location.href="00_index.html";
            });
        },
        methods:{
            selectSeat: function(i) {
                const get_token = sessionStorage.getItem("token");
                const get_userIdx = sessionStorage.getItem("userIdx");
                //=========================1. 이용권 구매여부 확인 ==================================
                axios({
                    method: "get",
                    url: "ticket/" + get_userIdx,
                    headers: {authorization: `bearer ${get_token}`}
                }).then(resData => {
                    if(resData.data == null || resData.data == "") {
                        alert("이용권을 먼저 구매해주세요");
                        location.href="02_ticket.html";
                    }
                    else {
                         //=================2. 이미 좌석 선택했는지 확인 (변경은 마이페이지에서) ========
                        axios({
                            method: "get",
                            url: "user/" + get_userIdx,
                            headers: {authorization: `bearer ${get_token}`}
                        }).then(resData => {
                            if(resData.data.seat != null) {
                                alert("좌석 변경은 [마이페이지]에서 할 수 있습니다");
                            }
                            else {
                                //=================3. 좌석 선택 실행 ========================
                                const result = confirm(i + "번 좌석을 선택하시겠습니까?");
                                if(result) {
                                    axios({
                                        method: "post",
                                        url: "seat",
                                        data: {seatIdx: i},
                                        headers: {authorization: `bearer ${get_token}`}
                                    }).then(resData => {
                                        if(resData.data) {
                                            alert(i + "번 좌석 선택완료");
                                        }
                                        else {
                                            alert("좌석선택 실패. 잠시 후에 다시 시도해주세요");
                                        }
                                        window.location.reload();
                                    }).catch(errorData => {
                                        alert("좌석선택 실패. 잠시 후에 다시 시도해주세요");
                                        window.location.reload();
                                    });
                                }
                                //========================= 3 끝 ============================
                            }
                        }).catch(errorData => {
                            alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요");
                            window.location.reload();
                        });
                        //========================= 2 끝 ============================
                    }
                }).catch(errorData => {
                    alert("좌석선택 실패. 잠시 후에 다시 시도해주세요");
                    window.location.reload();
                });
                //========================= 1 끝 ==================================
            }
        }

    })



//                  ======================공통 스크립트====================
    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                sessionStorage.clear("token");
                this.login = false;
                this.logout = true;
                alert("로그아웃 했습니다");
                location.href="00_index.html";
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })

    new Vue({
        el: "#body-div",

        data: {
            model: {
                showIndex: true,
                showLogin: false
            }
        },
        methods: {
            test: function(){
                console.log("12");
            }
        }
    });
    
    new Vue({
        el: "#select",
        data: {
            seatIdx: 0
        },
        methods: {
            seat: function(v){
                console.log(v);
            }
        }
    });

</script>
</body>
</html>