<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>Community-write</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>

        <!-- 메인 -->
        <div class="main-container">
            <view-board></view-board>

            
                    
            <foot></foot>
        </div>
    </div>

<!-- ========================================템플릿======================================== -->

<template id="viewBoard">
    <div class="sub-container" style="width: 50%;">
        <div style="text-align: left; border-style: groove;">
            <div style="padding-left: 1%;"><a href='03_board.html'><h6>자유게시판</h6></a></div>
            <div v-bind="boardModel" style="padding-left: 3%; padding-bottom: 3%; padding-right: 3%;">
                <div><h3>{{boardModel.boardTitle}}</h3></div>
                <div>작성자 : <a style="padding-right: 2%;">{{boardModel.boardWriter}}</a>마지막으로 수정한 날짜 : <a>{{boardModel.boardDay}}</a></div>
                <hr>
                {{boardModel.boardContents}}
            </div>
        </div>
        <div style="padding-top: 1%;">
            <div style="display: inline; float:left;">
                <button class="w3-button" onclick="location.href='03_board.html'" style="background-color: #ecdbdb; width: 100px;">목록</button> 
            </div>
            <div style="display:flex; float:right;">
                <button class="w3-button" onclick="location.href='#'" style="background-color: #ecdbdb; width: 100px; margin-right: 10%;">수정하기</button> 
                <button class="w3-button" onclick="location.href='03_02_write.html'" style="background-color: #ecdbdb; width: 100px;">글쓰기</button> 
            </div>
        </div>
        <view-comment></view-comment>
    </div>
</template>

<template id="viewComment">
    <div class="comment">
        <div><h6>댓글</h6></div>
        <div v-for="comment in commentModel">
            <tr>
            <td>작성자 : {{comment.commentWriter}}</td>
            <td>/ 작성일 : {{comment.commentDay}}</td>
            </tr>
            <a @click="deleteComment" v-show="showDelete" style="padding-left: 2%;">삭제</a>
            <br><br>
            <tr>
                <td>
                    {{comment.commentContents}}
                </td>
            </tr>
            <hr>
        </div>
        <div style="padding-top: 2%;">
            <textarea v-model="writeComment" type="text" rows="5" cols="100" maxlength="500" spellcheck="false" autofocus required placeholder="최대 500자까지 입력 가능"></textarea>
        </div>
        <div style="display:inline-block; padding-top: 2%;">
            <input v-model="checkCommentWriter" type="text" style="width: 40%;" maxlength="14" spellcheck="false" autofocus required placeholder="닉네임 최대 14글자">
            <input v-model="checkCommentPw" type="password" style="width: 25%;" maxlength="4" autofocus required placeholder="비밀번호 4글자">
            <button @click="addComment" class="w3-button" style="background-color: #ecdbdb; width: 20%;">댓글달기</button> 
        </div>
    </div>
</template>
<!-- ========================================스크립트======================================== -->
<script>
    Vue.component('view-board', {
        template: "#viewBoard",
        data: function() {
            return {
                boardModel: 
                    {"boardTitle": "이거보여주려고 어그로끌었다",
                    "boardWriter": "king4525",
                    "boardPw": "1234",
                    "boardDay": "1013",
                    "boardContents": "안녕하세요 게시글 테스트중입니다안녕하세요 게시글 테스트중입니다안녕하세요 게시글 테스트중입니다안녕하세요 게시글 테스트중입니다안녕하세요 게시글 테스트중입니다안녕하세요 게시글 테스트중입니다"},
            }
        },
    })
    Vue.component('view-comment', {
        template: "#viewComment",
        data: function() {
            return {
                getId : "",
                newCommentWriter : "",
                newCommentPw: "",
                newCommentContents: "",
                showDelete: false,
                commentModel: [
                    {"commentWriter": "king4525",
                    "commentPw": "1234",
                    "commentContents": "안녕하세요 댓글테스트중입니다",
                    "commentDay": "1013"},
                    {"commentWriter": "test",
                    "commentPw": "1234",
                    "commentContents": "테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈테스트중22나는멋진남자재훈",
                    "commentDay": "1225"},
                ]
                
            }
        },
        created: function() {
            getSession = sessionStorage.getItem("session");
            getSession = JSON.parse(getSession);
            if(getSession != null){
                this.getId = getSession.sessionId;
            }
            for(comment of this.commentModel){
                if(comment.commentWriter == this.getId){
                    this.showDelete = true;
                }
                else{
                    this.showDelete = false;
                }
            }
        },
        computed: {
            writeComment: {
                get: function() {
                    return this.newCommentContents;
                },
                set: function(inputComment) {
                    this.newCommentContents = inputComment;
                }
            },
            checkCommentWriter: {
                get: function() {
                    return this.newCommentWriter;
                },
                set: function(inputWriter) {
                    this.newCommentWriter = inputWriter;
                }
            },
            checkCommentPw: {
                get: function() {
                    return this.newCommentPw;
                },
                set: function(inputPw) {
                    this.newCommentPw = inputPw;
                }
            },
        },
        methods: {
            addComment: function() {  //액시오스로 백단에 아이디, 내용, 댓글 비밀번호를 전송? 
                let model = {"commentWriter": this.newCommentWriter, "commentPw": this.newCommentPw, "commentContents": this.newCommentContents, "commentDay":"1013"};
                this.commentModel.push(model);
            },
            deleteComment: function() {

            }
        }
    })

// ========================================공통 스크립트========================================

    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                sessionStorage.setItem("session", null);
                alert("로그아웃 했습니다");
                location.href="00_index.html";
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })

    new Vue({
        el: "#body-div",
        data: {
            model: {
                showIndex: true,
                showLogin: false
            }
        }
    })

</script>

</body>
</html>