<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>Community-board</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>

        <!-- 메인 -->
        <div class="main-container">
            <view-allboard></view-allboard>




                <foot></foot>
        </div>
    </div>

<template id="view-allboard-temp">
    <div class="sub-container">
        <h1>자유게시판</h1><hr>
        <div style="width: 70%; display: inline-block;">
            <div style="float:right;">
                <button class="w3-button  w3-card-4" onclick="location.href='03_02_write.html'" style="background-color: #ecdbdb; width: 100px;">글쓰기</button> <br><br>
            </div>
            <table class="w3-table w3-bordered w3-hoverable w3-centered w3-card-4">
                <thead>
                <tr style="background-color: #e7dcdc">
                    <th style="column-width: 5%;">글 번호</th>
                    <th style="column-width: 5%">작성자</th>
                    <th style="column-width: 85%">제목</th>
                    <th style="column-width: 5%">날짜</th>
                </tr>
                </thead>
                <tr v-for="(board, index) in board_list" @click="viewBoardOne(index)" style="cursor: pointer;">
                <td v-if="(index_max > index) && (index >= index_min)" style="column-width: 5%">{{board.boardIdx}}</td>
                <td v-if="(index_max > index) && (index >= index_min)" style="column-width: 5%">{{board.writerId}}</td>
                <td v-if="(index_max > index) && (index >= index_min)" style="column-width: 85%">{{board.title}}</td>
                <td v-if="(index_max > index) && (index >= index_min)" style="column-width: 5%">{{board.created}}</td>
                </tr>
            </table>
            <div style="display: inline-block; padding-top: 3%;">
<!-- 
                <div v-for="(index) in board_list" style="float:left">
                    <<a v-on:click="index_min, index_max += 10">{{page_number}}</a>>
                </div>  
                 -->
            </div>
        </div>
    </div>
</template>
<!-- ========================================스크립트======================================== -->

<script>
    let enventBus = new Vue();

    // ==============================view-allboard 컴포넌트===============================
    Vue.component('view-allboard', {
        template: "#view-allboard-temp",
        data: function() {
            return {
                board_list: [],
                index_min: 0,
                index_max: 10,
                page_list: []
            }
        },
        created: function() {
            axios({
                    method: "get",
                    url: "http://localhost/board/", 
                }).then(resData => {  
                    for(d of resData.data) {
                        let board_model = {boardIdx: d.boardIdx, writerId: d.writer.userId, title: d.title, created: d.created, updated: d.updated};
                        this.board_list.push(board_model);
                    }
                }).catch(errorData => {
                    alert("게시글을 불러오는데 실패했습니다. 잠시 후 다시 시도해주세요")
                });
        },
        methods: {
            viewBoardOne: function(index) {
                if(index != null){  
                    location.href = "03_01_view.html?boardIdx=" + this.board_list[index].boardIdx;
                }
                else{
                    alert("게시글을 불러오는데 실패했습니다. 잠시 후 다시 시도해주세요")
                }
            }
        }
    })
    Vue.component('page-control', {
        template: "#page-control-temp",
        data: function() {
            return {
                limit : 10
            }
        }
    })

    // ========================================공통 스크립트========================================

    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                sessionStorage.clear();
                this.login = false;
                this.logout = true;
                alert("로그아웃 했습니다");
                location.href="00_index.html";
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })

    new Vue({
        el: "#body-div",
        data: {
            model: {
                showIndex: true,
                showLogin: false
            }
        }
    })

</script>

</body>
</html>