<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>MyPage</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>

        <!-- 메인 -->
        <div class="main-container">
            <my-page></my-page>


            <foot></foot>
        </div>
    </div>

<!-- ========================================템플릿======================================== -->

    <template id="myPageTemp">
        <div class="sub-container"> 
            <h1>나의 정보</h1><hr>
            <div><p>이름 : {{model.name}}</p></div>
            <div><p>이용권 종료일 : {{end_day}}</p></div>
            <div><p>현재 좌석 : {{model.seat.seatIdx}}</p></div>
            
            <div class="w3-row">
                <div class="w3-col w3-container" style="width:5%;"></div>
                
                <div class="w3-col w3-container" style="width:25%">
                    <p>내 정보 수정</p>
                    <img src="./img/mainPicture.jpg" style="width:80%; cursor: pointer;" @click="openCheck('modifying')">
                </div>

                <div class="w3-col w3-container" style="width:7%;"></div>

                <div class="w3-col w3-container" style="width:25%">
                    <p>좌석 변경</p>
                    <img src="./img/mainPicture.jpg" style="width:80%; cursor: pointer;" @click="openCheck('seating')">
                </div>

                <div class="w3-col w3-container" style="width:7%;"></div>
                
                <div class="w3-col w3-container" style="width:25%">
                    <p>퇴실</p>
                    <img src="./img/mainPicture.jpg" style="width:80%; cursor: pointer;" @click="openCheck('exiting')">
                </div>
                
                <div class="w3-col w3-container" style="width:5%;"></div>
            </div>
        

                            <!-- =====================체크 모달 (첫 번째)======================= -->

            <div id="modalCheck" class="modal">
                <form class="modal-content">
                    <div class="container" style="text-align: left;">
                        <h1>비밀번호를 입력해 주세요</h1>
                        <h3>ID : {{model.userId}}</h3>
                        <input id="pw_check_input" type="password" required autofocus maxlength="16" spellcheck="false" placeholder="비밀번호"> 
                        <div class="clearfix">
                            <button @click="check" type="button" class="signup" style="width:50%">확인</button>
                            <button @click="modalClose" type="button" class="cancelbtn">취소</button>
                        </div>
                    </div>
                </form>
            </div>
            
                             <!-- =====================내 정보 변경 모달======================= -->

            <div id="modalModify" class="modal">
                <form class="modal-content">
                    <div class="container">
                        <div style="text-align: left;">
                            <h3 style="text-align: center;">나의 정보 수정</h3>
                            <p>아이디 : {{model.userId}}<hr></p>
                            변경할 비밀번호
                            <input v-model="CheckPw" type="password" required autofocus maxlength="16" spellcheck="false" placeholder="최소 4글자"> 
                            <p id="inputPwId" style="color: brown; margin-top: 0%;">
                                {{messagePw}} <hr></p>
                            비밀번호 확인
                            <input v-model="CheckPw2" type="password" required maxlength="16" spellcheck="false" placeholder="비밀번호 확인"> 
                            <p id="inputPw2Id" style="color: brown; margin-top: 0%;">
                                {{messagePw2}} <hr></p>
                            현재 이름 : {{model.name}}
                            <input v-model="CheckName" type="text" required maxlength="6" spellcheck="false" placeholder="최소 2글자"> 
                            <p id="inputNameId" style="color: brown; margin-top: 0%;">
                                {{messageName}} <hr></p>
                            현재 전화번호 : {{model.phone}}
                            <input v-model="CheckPhone" type="text" required maxlength="11" spellcheck="false" placeholder="'-' 없이 입력해주세요"> 
                            <p id="inputPhoneId" style="color: brown; margin-top: 0%;">
                                {{messagePhone}}</p>
                        </div>
                        <div class="clearfix">
                            <button @click="modify" type="button" class="signup" style="width:50%">확인</button>
                            <button @click="modalClose" type="button" class="cancelbtn">취소</button>
                        </div>
                    </div>
                </form>
            </div>

                                 <!-- =====================좌석정보 변경 모달======================= -->

            <div id="modalSeat" class="modal">
                <form class="modal-content" style="width: 70%;">
                    <div class="container" style="text-align: center;">
                        <h1>현재 좌석</h1>
                        <h1>좌석을 선택하세요</h1>

                        <div style="border-style: groove; width: 100%; height: 90%; margin-top: 2%;">
                            <div style="padding: 1%; display:flex; width: 100%;">
                                <div v-for="(seat, index) in seat_list1" style="padding: 1%;">
                                    <button v-if="seat.seatIdx == selected" class="square" style="background-color: rgb(59, 127, 182); cursor:not-allowed;">{{seat.seatIdx}}</button>
                                    <button v-else-if="seat.seatIdx == using" class="square" style="background-color: rgb(224, 216, 93); cursor:not-allowed;">{{seat.seatIdx}}</button>
                                    <button type="button" v-else-if="seat.isUsed == 0" @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
                                    <button v-else class="square" style="background-color: brown; cursor:not-allowed;">{{seat.seatIdx}}</button>
                                 
                                    <!-- <button id="test" type="button" @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button> -->
                                </div>
                            </div>
                            <div style="padding: 1%; display:flex; width: 100%;">
                                <div v-for="(seat, index) in seat_list2" style="padding: 1%;">
                                    <button v-if="seat.seatIdx == selected" class="square" style="background-color: rgb(59, 127, 182); cursor:not-allowed;">{{seat.seatIdx}}</button>
                                    <button v-if="seat.seatIdx == using" class="square" style="background-color: rgb(224, 216, 93); cursor:not-allowed;">{{seat.seatIdx}}</button>
                                    <button v-else-if="seat.isUsed == 0" @click="selectSeat(seat.seatIdx)" class="square">{{seat.seatIdx}}</button>
                                    <button v-else class="square" style="background-color: brown; cursor:not-allowed;">{{seat.seatIdx}}</button>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <button @click="changeSeat" type="button" class="signup" style="width:50%">확인</button>
                            <button @click="modalClose" type="button" class="cancelbtn">취소</button>
                        </div>
                    </div>
                </form>
            </div>

                                 <!-- =====================퇴실 모달======================= -->

            <div id="modalExit" class="modal">
                <form class="modal-content">
                    <div class="container">
                        <div style="text-align: left;">
                            <h3>퇴실 확인</h3>
                            <h1>퇴실하시겠습니까?</h1>
                        </div>
                        <div class="clearfix">
                            <button @click="exit" type="button" class="signup" style="width:50%">확인</button>
                            <button @click="modalClose" type="button" class="cancelbtn">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </template>

 <!-- =========================================================스크립트============================================================================= -->

<script>

                      // ======================마이페이지 컴포넌트=====================
    Vue.component('my-page', {
        template: "#myPageTemp",
        data: function() {
            return{
                now : "",
                end_day : 0,
                model: {
                    userIdx: "",
                    userId: "",
                    userPw: "",
                    name: "",
                    phone: "",
                    isAdmin: "",
                    seat: {
                        seatIdx: "이용중인 좌석 없음",
                        isUsed: ""
                    }
                },
                modify_model: {
                    userPw: "",
                    name: "",
                    phone: "",
                },
                pw2 : "",
                messagePw : "※ 비밀번호를 입력해주세요",
                messagePw2 : "※ 비밀번호를 한 번 더 입력해주세요",
                messageName : "※ 이름을 입력해주세요",
                messagePhone : "※ 전화번호를 입력해주세요",

                seat_list1: [],
                seat_list2: [],
                remain_seat: 0,
                using: false,
                selected: ""
            }
        },
        created() {
            // ========= user 정보 불러오는 부분========
            axios({
                method: "get",
                url: "http://localhost/user/" + sessionStorage.getItem("userIdx"),
                headers: {"Authorization" : `Bearer ${sessionStorage.getItem("token")}`}
            }).then(resData => {  
                if(resData.data == null || resData.data == "") {
                    alert("정보 불러오기를 실패했습니다. 잠시 후에 다시 시도해주세요")
                    location.href="00_index.html";
                }
                else{
                    if(resData.data.seat == null) {
                        resData.data.seat = {seatIdx: "이용중인 좌석 없음", isUsed: ""}
                    }
                    this.model = resData.data;
                }
            }).catch(errorData => {
                alert("정보 불러오기를 실패했습니다. 잠시 후에 다시 시도해주세요")
                location.href="00_index.html";
            });
            // ========= 종료일 불러오는 부분========
            axios({
                method: "get",
                url: "ticket/" + sessionStorage.getItem("userIdx"),
                headers: {authorization : `bearer' ${sessionStorage.getItem("token")}`}
            }).then(resData => {  
                if(resData.data.length == 0) {
                    this.end_day = "구매한 이용권이 없습니다"
                }
                else{
                    this.end_day = resData.data;
                }
            }).catch(errorData => {
                alert("정보 불러오기를 실패했습니다. 잠시 후에 다시 시도해주세요")
                location.href="00_index.html";
            });
        },
        computed: {
            CheckPw : {
                get : function(){
                    return this.modify_model.userPw;
                },
                set : function(inputPw){
                    document.getElementById("inputPwId").style.color="brown";

                    this.pw2 = "";
                    document.getElementById("inputPw2Id").style.color="brown";
                    this.messagePw2 = "※ 비밀번호를 한 번 더 입력해주세요";

                    if(inputPw.length == 0){
                        this.messagePw = "※ 비밀번호를 입력해주세요";
                    }
                    else if(0 < inputPw.length && inputPw.length < 4){
                        this.messagePw = "※ 4글자 이상 입력해주세요";
                    }
                    else if(12 < inputPw.length){
                        this.messagePw = "※ 비밀번호가 너무 깁니다";
                    }
                    else if(3 < inputPw.length){
                        this.messagePw = "OK";
                        document.getElementById("inputPwId").style.color="green";
                    }
                    this.modify_model.userPw = inputPw;
                }
            },
            CheckPw2 : {
                get : function(){
                    return this.pw2;
                },
                set : function(inputPw2){
                    document.getElementById("inputPw2Id").style.color="brown";
                    if(inputPw2.length == 0){
                        this.messagePw2 = "※ 비밀번호를 한 번 더 입력해주세요";
                    }
                    else if(inputPw2 == this.modify_model.userPw){
                        this.messagePw2 = "OK";
                        document.getElementById("inputPw2Id").style.color="green";
                        
                    }
                    else{
                        this.messagePw2 = "※ 비밀번호가 다릅니다";
                    }
                    this.pw2 = inputPw2;
                }
            },
            CheckName : {
                get : function(){
                    return this.modify_model.name;
                },
                set : function(inputName){
                    document.getElementById("inputNameId").style.color="brown";
                    if(/[0-9]/g.test(inputName)){
                        this.messageName = "※ 올바르지 않은 정보입니다";
                    }
                    else if(inputName.length == 0){
                        this.messageName = "※ 이름를 입력해주세요";
                    }
                    else if(0 < inputName.length && inputName.length < 2){
                        this.messageName = "※ 2글자 이상 입력해주세요";
                    }
                    else if(1 < inputName.length){
                        this.messageName = "OK";
                        document.getElementById("inputNameId").style.color="green";
                    }
                    this.modify_model.name = inputName;
                }
            },
            CheckPhone : {
                get : function(){
                    return this.modify_model.phone;
                },
                set : function(inputPhone){
                    document.getElementById("inputPhoneId").style.color="brown";

                    if(/[^0-9]/g.test(inputPhone)){   // ^는 부정을 의미 => 숫자가 아닌 것이 들어오면 TRUE
                        this.messagePhone = "※ 숫자를 입력해주세요";
                    }
                    else if(0 <= inputPhone){
                        if(inputPhone.length < 10){
                        this.messagePhone = "※ 전화번호를 입력해주세요";
                        }
                        else if(11 < inputPhone.length){
                            this.messagePhone = "※ 전화번호가 너무 깁니다";
                        }    
                        else if(9 < inputPhone.length){
                            this.messagePhone = "OK";
                            document.getElementById("inputPhoneId").style.color="green";
                        }    
                    }
                    this.modify_model.phone = inputPhone;
                }
            }
        },
        methods: {
            openCheck: function(v){
                this.now = v;
                if(v == "seating" || v == "exiting") {
                    if(this.model.seat.seatIdx == "이용중인 좌석 없음") {
                        alert("현재 이용중인 좌석이 없습니다");
                    }
                    else {
                        document.getElementById('modalCheck').style.display='block';
                    }
                }
                else {
                    document.getElementById('modalCheck').style.display='block';
                }
            },
            modalClose: function(){
                window.location.reload();
            },
            // =========비밀번호 체크 모달 띄우는 메소드=========
            check: function() {  
                if(document.getElementById("pw_check_input").value){
                    let input_pw = document.getElementById("pw_check_input").value;
                    const check_model = {userId: this.model.userId, userPw: input_pw};
                    axios({
                    method: "post",
                    url: "http://localhost/login", 
                    data: check_model
                }).then(resData => {  
                    if(resData.data == null || resData.data == "") {
                        alert("비밀번호가 다릅니다")
                    }
                    else{
                        document.getElementById('modalCheck').style.display='none';
                        if(this.now == "modifying") {
                            document.getElementById('modalModify').style.display='block';
                        }
                        //=================좌석변경을 선택했을 때 실행 ===================
                        else if(this.now == "seating") {
                            const get_token = sessionStorage.getItem("token");
                            // ======================= 1.좌석정보 불러오기 =====================
                            axios({
                                method: "get",
                                url: "seat", 
                                headers: {authorization : `bearer ${get_token}`}
                            }).then(resData => {  
                                this.seat_list1 = resData.data.slice(undefined, 10);
                                this.seat_list2 = resData.data.slice(10, 20);
                                // ====================== 2. 잔여 좌석 불러오기 =================
                                axios({
                                method: "get",
                                url: "seat/remain", 
                                headers: {authorization : `bearer ${get_token}`}
                                }).then(resData => {  
                                    this.remain_seat = resData.data;
                                    // =============== 3. 회원정보 불러오기 - 선택한 좌석 체크 ===========
                                    axios({
                                        method: "get",
                                        url: "user/" + sessionStorage.getItem("userIdx"), 
                                        headers: {authorization : `bearer ${get_token}`}
                                    }).then(resData => {  
                                        if(resData.data.seat != null) {
                                            this.using = resData.data.seat.seatIdx;
                                        }
                                    }).catch(errorData => {
                                    alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요");
                                    location.href="00_index.html";
                                    });
                                    // ======================= 3. 끝  ==================

                                }).catch(errorData => {
                                    alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요");
                                    location.href="00_index.html";
                                });
                                // ======================= 2. 끝  ==================
                            }).catch(errorData => {
                                alert("좌석정보를 불러오지 못했습니다. 잠시 후에 다시 시도해주세요");
                                location.href="00_index.html";
                            });
                            // ======================= 1. 끝  ==================
                            document.getElementById('modalSeat').style.display='block';
                        }
                        else if(this.now == "exiting") {
                            document.getElementById('modalExit').style.display='block';
                        }else {
                            alert("에러가 발생했습니다");
                            location.href="05_myPage.html";
                        }
                    }
                }).catch(errorData => {
                    alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요")
                    window.location.reload();
                });
                }
                else{
                    alert("비밀번호를 입력해주세요")
                }
                document.getElementById("pw_check_input").value = null;
            },
            modify: function(){
                axios({
                    method: "put",
                    url: "http://localhost/user/" + sessionStorage.getItem("userIdx"), 
                    data: this.modify_model,
                    headers: {"Authorization" : `Bearer' ${sessionStorage.getItem("token")}`}
                }).then(resData => {  
                    if(resData.data){
                        alert("정보 수정 성공했습니다")
                        window.location.reload();
                    }
                    else{
                        alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요");
                    }
                }).catch(errorData => {
                    alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요");
                });
            },
            selectSeat: function(v) {
                const result = confirm(v + "번 좌석으로 바꾸시겠습니까?");
                if(result) {
                    this.selected = v;
                    // document.getElementById("test").style.background="blue";
                }
                else{
                    console.log("======")
                }
            },
            changeSeat: function() {
                axios({
                    method: "post",
                    url: "seat",
                    data: {seatIdx: this.selected},
                    headers: {authorization: `bearer ${get_token}`}
                }).then(resData => {
                    if(resData.data) {
                        alert("좌석변경 완료");
                        // window.location.reload();
                    }
                    else {
                        alert("좌석변경 실패. 잠시 후에 다시 시도해주세요");
                    }
                }).catch(errorData => {
                    alert("좌석변경 실패. 잠시 후에 다시 시도해주세요");
                });
            },
            exit: function(){
                axios({
                    method: "post",
                    url: "seat/checkout", 
                    headers: {authorization : `bearer' ${sessionStorage.getItem("token")}`}
                }).then(resData => {  
                    if(resData.data){
                        alert("퇴실 완료")
                        window.location.reload();
                    }
                    else{
                        alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요");
                    }
                }).catch(errorData => {
                    alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요");
                });
            },
        }
    })

      // ====================================공통 스크립트=====================================
      
    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                sessionStorage.clear();
                this.login = false;
                this.logout = true;
                alert("로그아웃 했습니다");
                location.href="00_index.html";
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })
    new Vue({
        el: "#body-div",
    })
</script>
</body>
</html>