<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>SignUp</title>
</head>
<body class="body">
    <body class="body">
        <div id="body-div">
            <nav-bar></nav-bar>

        <!-- 메인 -->
            <div class="main-container">
                <sign-up v-show="showSignUp" v-on:signup-emit="viewSignUp"></sign-up>
                <sign-up-check v-show="showCheck" v-on:check-emit="viewCheck"></sign-up-check>

            </div>
            <foot></foot>
        </div>

<!-- ================================================템플릿================================================ -->

                <!-- ==========================회원가입 템플릿 ==================== -->
    <template id="sign-up-temp">
            <div class="sub-container" style="text-align: left;">
                <h1 style="text-align: center;"> 회원가입 </h1> <hr>
                <div style="width: 30%; margin-left: 35%;">
                    <div class="sign-up">
                        <input type="text" v-model="CheckId" style="width: 64%;" autofocus required  maxlength="16" spellcheck="false" placeholder="아이디, 최소 4글자">
                        <button @click="existCheck" style="width: 34%; padding: 4px; height: 40px;">중복확인</button>
                    </div>
                    <div id="inputId" style="color: brown;">{{messageId}}<hr></div>
                    <div class="sign-up">
                        <input type="password" v-model="CheckPw" style="width: 100%;" required maxlength="16" spellcheck="false" placeholder="비밀번호, 최소 4글자"></div>
                    <div id="inputPw" style="color: brown;">{{messagePw}}<hr></div>
                    <div class="sign-up">
                        <input type="password" v-model="CheckPw2" style="width: 100%;" required maxlength="16" spellcheck="false" placeholder="비밀번호 확인"></div>
                    <div id="inputPw2" style="color: brown;">{{messagePw2}}<hr></div>
                    <div class="sign-up">
                        <input type="text" v-model="CheckName" style="width: 100%;" required maxlength="15" spellcheck="false" placeholder="이름, 최소 2글자"></div>
                    <div id="inputName"  style="color: brown;">{{messageName}}<hr></div>
                    <div class="sign-up">
                        <input type="text" v-model="CheckPhone" style="width: 100%;" required maxlength="11" spellcheck="false" placeholder="'-' 없이 입력해주세요"></div>
                    <div id="inputPhone"  style="color: brown;">{{messagePhone}}<hr></div>
                    <button @click="signUp"> 가입하기 </button>
                </div>
            </div>
    </template>
                <!-- ==================입력정보 확인 템플릿 ==================== -->
    <template id="sign-up-check-temp">
        <div class="sub-container">
            <h1 style="text-align: center;"> 입력정보 확인 </h1> <hr>
            <div style="width: 30%; margin-left: 35%;">
                <ul style="text-align: left; width:100%">
                    <li>ID : {{model2.userId}}</li> <hr>       
                    <li>이름 : {{model2.name}}</li> <hr>                    
                    <li>전화번호 : {{model2.phone}}</li> <hr>                    
                </ul>
                <button @click="signUpFinal" style="width: 40%; float: auto;"> 가입 </button>
                <button @click="cancel" style="width: 40%; float: right; background-color: chocolate;"> 수정 </button>
            </div>
        </div>
    </template>

<!-- ========================================== 스크립트 ==================================================== -->
<script>
    eventBus = new Vue();

            // ========================== 회원가입 체크 컴포넌트 ======================
    Vue.component('sign-up-check', {
        template: "#sign-up-check-temp",
        data: function() {
            return {
                model2: {
                    userId : "",
                    userPw : "",    
                    name : "",
                    phone : "",     
                },
            }
        },
        created: function() {
            eventBus.$on('sendModel', this.getBusData);
        },
        methods: {
            cancel: function() {
                this.$emit('check-emit')
            },
            signUpFinal: function() {
                axios({
                        method: "post",
                        url: "http://localhost/user/join",
                        data: this.model2
                    }).then(resData => {  
                        if(resData.data){
                            alert("회원가입 성공");
                            location.href="http://localhost/06_logIn.html";
                        }
                        else{
                            alert("회원가입 실패 - 잠시 후에 다시 시도해주세요 - error 01");
                            location.href="05_signUp.html";
                        }
                    }).catch(errorData => {
                        alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요 - error 02")
                    });
            },
            getBusData: function(v) {
                this.model2 = v;
            }
        },
    })
                //============ 회원가입 컴포넌트 ==============
    Vue.component('sign-up',{
        template: "#sign-up-temp",
        data: function() {
            return {
                model: {
                    userId : "",
                    userPw : "",    
                    name : "",
                    phone : "",     
                },
                pw2 : "",
                messageId : "※ 아이디를 입력해주세요",
                messagePw : "※ 비밀번호를 입력해주세요",
                messagePw2 : "※ 비밀번호를 한 번 더 입력해주세요",
                messageName : "※ 한글 이름을 입력해주세요",
                messagePhone : "※ 전화번호를 입력해주세요"
            }
        },
        computed: {
            CheckId: {
                get: function(){
                    return this.model.userId;
                },
                set: function(inputId) {
                    document.getElementById("inputId").style.color="brown";
                    if(inputId.length == 0) {
                            this.messageId = "※ 아이디를 입력해주세요";
                    }
                    else if(/[^a-zA-Z0-9]/g.test(inputId)) {
                        this.messageId = "※ 영문과 숫자 조합만 가능합니다";
                    }
                    else{
                        if(0 < inputId.length && inputId.length < 4) {
                            this.messageId = "※ 4글자 이상 입력해주세요";
                        }
                        else if(3 < inputId.length) {
                            if(/[^a-zA-Z]/g.test(inputId)) {
                                if(/[^a-zA-Z]/g.test(inputId.substring(0,1))) {
                                    this.messageId = "※ 아이디는 영문으로 시작해야 합니다";
                                }
                                else if(/[a-zA-z]/g.test(inputId) && /[0-9]/g.test(inputId)) {
                                    this.messageId = "※ 오른쪽에서 중복체크를 해주세요";
                                }
                                else {
                                    this.messageId = "※ 아이디는 영문을 포함해야 합니다";
                                }
                            }
                            else {
                                this.messageId = "※ 오른쪽에서 중복체크를 해주세요";
                            }
                        }
                    }
                    this.model.userId = inputId;
                }
            },
            CheckPw : {
                get : function(){
                    return this.model.userPw;
                },
                set : function(inputPw){
                    document.getElementById("inputPw").style.color="brown";

                    this.pw2 = "";
                    document.getElementById("inputPw2").style.color="brown";
                    this.messagePw2 = "※ 비밀번호를 한 번 더 입력해주세요";
                    if(inputPw.length == 0){
                        this.messagePw = "※ 비밀번호를 입력해주세요";
                    }
                    else if(0 < inputPw.length && inputPw.length < 4){
                        this.messagePw = "※ 4글자 이상 입력해주세요";
                    }
                    else if(3 < inputPw.length){
                        this.messagePw = "OK";
                        document.getElementById("inputPw").style.color="green";
                    }
                    this.model.userPw = inputPw;
                }
            },
            CheckPw2 : {
                get : function(){
                    return this.pw2;
                },
                set : function(inputPw2){
                    document.getElementById("inputPw2").style.color="brown";
                    if(inputPw2 == this.model.userPw) {
                        if(inputPw2.length > 3) {
                            this.messagePw2 = "OK";
                            document.getElementById("inputPw2").style.color="green";
                        }
                        else {
                            this.messagePw2 = "※ 4글자 이상 입력해주세요";
                        }
                    }
                    else {
                        if(inputPw2.length >= this.model.userPw.length) {
                            this.messagePw2 = "※ 비밀번호가 다릅니다";
                        }
                        else {
                            this.messagePw2 = "※ 비밀번호를 한 번 더 입력해주세요";
                        }
                    }
                    this.pw2 = inputPw2;
                }
            },
            CheckName : {
                get : function(){
                    return this.model.name;
                },
                set : function(inputName){
                    document.getElementById("inputName").style.color="brown";
                    if(inputName.length == 0) {
                        this.messageName = "※ 이름를 입력해주세요";
                    }
                    else if(/[a-zA-Z]/g.test(inputName)) {
                        this.messageName = "※ 한글 이름를 입력해주세요";
                    }
                    else if(/[^가-힣]/g.test(inputName) || /[ㄱ-ㅎㅏ-ㅣ]/g.test(inputName)) {
                        this.messageName = "※ 올바르지 않은 정보입니다";
                    }
                    else if(0 < inputName.length && inputName.length < 2){
                        this.messageName = "※ 2글자 이상 입력해주세요";
                    }
                    else if(1 < inputName.length){
                        this.messageName = "OK";
                        document.getElementById("inputName").style.color="green";
                    }
                    this.model.name = inputName;
                }
            },
            CheckPhone : {
                get : function(){
                    return this.model.phone;
                },
                set : function(inputPhone){
                    document.getElementById("inputPhone").style.color="brown";

                    if(/[^0-9]/g.test(inputPhone)) {   // ^는 부정을 의미 => 숫자가 아닌 것이 들어오면 TRUE
                        this.messagePhone = "※ 숫자를 입력해주세요";
                    }
                    else if(0 <= inputPhone){
                        if(inputPhone.length < 10) {
                            this.messagePhone = "※ 전화번호를 입력해주세요";
                        }
                        else if(9 < inputPhone.length) {
                            if(!inputPhone.startsWith("010")) {
                                this.messagePhone = "※ 올바르지 않은 번호입니다";
                            }
                            else {
                                this.messagePhone = "OK";
                                document.getElementById("inputPhone").style.color="green";
                            }
                        }    
                    }
                    this.model.phone = inputPhone;
                }
            }
        },
        methods: {
            signUp: function(){
                if(this.messageId == "OK" && this.messagePw == "OK" && this.messagePw2 == "OK" && this.messageName == "OK" && this.messagePhone == "OK"){
                    this.$emit('signup-emit');
                    eventBus.$emit('sendModel', this.model);
                }
                else{
                    alert("입력한 정보를 다시 확인해주세요");
                }
            },
            existCheck: function() {
                if(this.messageId != "OK") {
                    if(this.messageId != "※ 오른쪽에서 중복체크를 해주세요") {
                        if(this.messageId != "※ 이미 존재하는 아이디입니다") {
                            alert("올바르지 않은 아이디입니다");
                        }
                    }
                    else {
                        axios({
                                method: "post",
                                url: "user/verifyid",
                                data: {"userId": this.model.userId}
                            }).then(resData => {  
                                if(resData.data){
                                    alert("사용가능한 아이디입니다");
                                    this.messageId = "OK";
                                    document.getElementById("inputId").style.color="green";
                                }
                                else{
                                    this.messageId = "※ 이미 존재하는 아이디입니다";
                                }
                            }).catch(errorData => {
                                alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요 - error 03")
                            });
                    }
                }
            }
        }
    })


    // ========================================공통========================================

    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();    

    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                const result = confirm("로그아웃 하시겠습니까?");
                if(result) {
                    sessionStorage.clear();
                    this.login = false;
                    this.logout = true;
                    location.href="http://localhost";
                }
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })

            // ==============공통에서 수정한 부분===========
    new Vue({
        el: "#body-div",
        data: {
            showSignUp: true,
            showCheck: false,
        },
        methods: {
            viewSignUp: function(){
                this.showSignUp = false;
                this.showCheck = true;
            },
            viewCheck: function(){
                this.showSignUp = true;
                this.showCheck = false;
            }
        }
    })

</script>
</body>
</html>