<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./script.js"></script>
<title>LogIn</title>
</head>
<body class="body">
    <div id="body-div">
        <nav-bar></nav-bar>

        <!-- 메인 -->
        <login></login>
    
        <foot></foot>
    </div>

<!-- ==================== 로그인 템플릿 ====================== -->
<template id="logInTemp">
    <div class="main-container">
        <div class="sub-container" style="min-height:84vh;">
            <h1> 로그인 </h1> <hr>
            <div style="width: 30%; margin-top: 5%;  margin-left: 35%;">
                <input v-model="model.userId" tyep="text" autofocus required maxlength="16" spellcheck="false" placeholder="아이디"> <br><br>
                <input v-model="model.userPw" type="password" required maxlength="16" spellcheck="false" placeholder="비밀번호"> <br><br>
                <button @click="logInButton"> 로그인 </button> <br><br>
                {{message}}
            </div>
        </div>
    </div>
</template>

    <!--   =================================================스크립트 ====================================================================  -->
<script>
    Vue.component('login', {
    template: "#logInTemp",
    data: function() {
            return {
                message : "",
                model: {
                    userId: "",
                    userPw: ""
                }
            }
        },
    methods: {
        logInButton: function(){
            axios({
                    method: "post",
                    url: "http://localhost/login", 
                    data: this.model
                }).then(resData => {  
                    if(resData.data.length == 0){
                        alert("로그인 정보를 확인해주세요")
                        window.location.reload();
                    }
                    else{
                        sessionStorage.setItem("token",resData.data.token);
                        sessionStorage.setItem("userIdx",resData.data.userIdx);
                        sessionStorage.setItem("name",resData.data.name);
                        alert("로그인 성공")
                        location.href="http://localhost";
                    }
                }).catch(errorData => {
                    alert("에러가 발생했습니다. 잠시 후에 다시 시도해주세요")
                    window.location.reload();
                });
            }
        }
    })
    
                // ========================공통 스크립트===========================

    navBar(); // 컴포넌트 내부에서 실행하면 navBar 변수를 템플릿으로 가져오지 못함 (템플릿이 먼저 구성되고 created함수가 실행되는 원리인듯?)
    footer();     
    
    Vue.component('nav-bar', {
        template: navBarScript,
        data: function() {
                return {
                    login,
                    logout,
                }
            },
        methods: {
            ClickLogout: function(){
                const result = confirm("로그아웃 하시겠습니까?");
                if(result) {
                    sessionStorage.clear();
                    this.login = false;
                    this.logout = true;
                    location.href="http://localhost";
                }
            }
        }
    })
    Vue.component('foot', {
        template: footerScript,
    })
    new Vue({
        el: "#body-div"
    })
</script>

</body>
</html>